.header {

}

.content {
  padding: 1rem;
}
.popover-filter {
  width: 100%!important;
  ion-content {
    margin: 0px!important;
    div.scroll{
      height: 100%;
    }
  }
  .rating-bar {
    margin: auto;
    max-width: 300px;
    .button:before {
      line-height: 18px;
    }
  }
}
.border-right {
  border-right: 1px solid!important;
}
.discounted_percentage {
  .discounted_percentage_background {
    position: absolute;
    right: 0;
    top: 0;
    width: 0; 
    height: 0; 
    border-left: 40px solid transparent;
    border-top: 40px solid #f00;
  }

  .discounted_percentage_amount {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0.8em;
    color: #fff;
  }
}
.price-tag {
  position: absolute;
  bottom: 15px;
  right: 15px;
  line-height: 15px;
  .discounted_price {
    color: purple;
    font-weight: bold;
    span {
      font-size: 1.5em;
    }
  }
  p {
    small{
      font-size: 0.8em;
    }
    &.strike {
      font-weight: bold;
      text-decoration: line-through;
      span {
        font-size: 1em;
      }
    }
  }
}

.rating-filter {
  text-align: center;
  padding-bottom: 5px;
}