.bg-transparent {
  background-color: transparent;
}

.bg-shade-dark {
  background-color: rgba(0, 0, 0, 0.7);
}

.bg-shade-light {
  background-color: rgba(255, 255, 255, 0.7);
}

.color-light-2 {
  color: #666;
}