<ion-view ng-controller="DetailController as detail">
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-title ng-bind="detail.title"></ion-nav-title>
    </ion-nav-bar>

    <ion-content class="detail">
      <ion-slide-box>
        <ion-slide>
          <img src="http://placehold.it/300x300" />
          <p>Waiting Room</p>
          <span>1/3</span>
        </ion-slide>
        <ion-slide>
          <img src="http://placehold.it/300x300" />
          <p>Waiting Room</p>
          <span>2/3</span>
        </ion-slide>
        <ion-slide>
          <img src="http://placehold.it/300x300" />
          <p>Waiting Room</p>
          <span>3/3</span>
        </ion-slide>
      </ion-slide-box>
    </ion-content>

</ion-view>
